html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.primary-bg{
  background-color: #f8efe4 !important;
}

.line-nes{
  line-height: 1;
  font-weight: 700;
}

.headerItems_parent{
  position: relative;
  top: -100px;
}

.headerItems_child{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,0);
}


.position_relative{
  position: relative !important;
}

.phone-cadr{
  position: absolute;
  right: -25px;
  top: 130px;
}